<a href="https://colab.research.google.com/github/samarashraf2510/Pharmaapp_Graduation_Project/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# lab 1
print (" my name is samar \n My birthday is : 1998 \n i'am graduated from fucalty of Engineering , suez-canal university \n my graduation year was 2021")

 my name is samar
 My birthday is : 1998
 i'am graduated from fucalty of Engineering , suez-canal university
 my graduation year was 2021

In [11]:
# lab 2
import math
date=input ("Enter your Birth year :")
age=int(date)
agee=2022-age
print("your age is " ,agee)

Enter your Birth year :1998
your age is  24

In [20]:
#lab 3
import math
print(17/3)
print(17/3.0)
print(17//3.0) #floor
print(17%3)
print(5*3+2)
print(5 ** 2)
print(2 **7)
x=(1+5)
y=55
f=abs(x)
print(f)
print(divmod(x,y))

5.666666666666667
5.666666666666667
5.0
2
17
25
128
6
(0, 6)

In [ ]:
#lab 4
loan=input("enter the loan value")
years=input("enter the no of installment years")
print("youe monthly installment is ",x)

In [ ]:
#lab 5
timerREs=input("please enter the timer resolution ")
Prescaler=input("please enter the prescaler value")
SYSfreq=input("please enter system freq in mhz")

In [26]:
#lab 6
x=input("enter a number")
y=int(x)%2
if y == 0:
   print("the number is even")
else :
    print("the number is odd")

enter a number2
the number is even

In [38]:
# lab 7
x=input("enter a year ")
y=int(x)
if y%100 !=0 :
  if y%4 ==0:
    print(y,"is a leap year")
  else :
    print(y,"is a not a leap year")  
elif y%100 ==0 :
  if y%400 ==0:
    print(y,"is a leap year")
  else:
    print(y,"is a not a leap year")
else :
  print("enter valid number")

enter a year 1998
1998 is a not a leap year

In [46]:
# lab 8
array=input("please enter your name")
print(array[::-1])

please enter your nameSamar Ashraf Abdelaziz elgohary
yrahogle zizaledbA farhsA ramaS

In [50]:
#lab 9
import math
no=input("enter number")
nu=int(no)
fact = 1
  
for i in range(1,nu+1):
    fact = fact * i
      
print ("The factorial of 23 is : ",end="")
print (fact)

enter number6
The factorial of 23 is : 720

In [55]:
#lab 10
string=str( input("Please enter a string"))
reverse = reversed(string)
#reverse=string[::-1]
if string != reverse :
  print("its a plaindrome")
else :
  print("its not a plaindrome")

Please enter a string dad
its a plaindrome

In [60]:
#lab 11
string = input("Enter a string: ")
# breakdown the string into a list of words.
words = string. split()
# sort the list.
words. sort()
# display the sorted words.
for word in words:
  print(word)

Enter a string: rehab samar donia
donia
rehab
samar

In [61]:
#lab 12
# define punctuation  
punctuation = '''''!()-[]{};:'"\,<>./?@#$%^&*_~'''  
# take input from the user  
my_str = input("Enter a string: ")  
# remove punctuation from the string  
no_punct = ""  
for char in my_str:  
   if char not in punctuation:  
       no_punct = no_punct + char  
# display the unpunctuated string  
print(no_punct)

Enter a string: sdrtyu7t65r4ew3sghui$%^^%WE
sdrtyu7t65r4ew3sghuiWE